absl-py
altair
altgraph
annotated-types
anyio
attrs
Babel
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
configparser
cycler
distro
et-xmlfile
exceptiongroup
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h11
httpcore
httpx
idna
importlib-metadata
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mplcursors
narwhals
numpy
oauthlib
openai
opencv-python
openpyxl
packaging
pandas
pdfkit
pefile
Pillow
pkgutil_resolve_name
plotly
protobuf
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
python-docx
pytz
pywin32
pywin32-ctypes
PyYAML
rdkit
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scipy
seaborn
selenium
six
smmap
sniffio
soupsieve
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tkcalendar
toml
torch
torchaudio
torchvision
tornado
tqdm
typing_extensions
urllib3
watchdog
Werkzeug
xlrd
xlsx2html
zipp
